
<div class= "container"> 
    <div class= "header">
        <h1>
            Acerca De
        </h1> 
        <p>
            
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi error dolorum deserunt sed quis laborum dolore quaerat aliquam consequatur ducimus rerum modi animi molestiae provident, ratione incidunt excepturi possimus optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iure quibusdam amet, voluptatum magni doloribus nulla beatae non excepturi alias veritatis aliquid ea, illum, commodi quaerat eveniet. In, aperiam neque? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit sint iure totam aliquid recusandae ipsa deleniti. Ipsa, hic cumque quos ratione soluta aut impedit, dolores officia nulla asperiores quam?
        </p>

    </div>
    <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Fcampo_mexicano.jpg?alt=media&token=d60db21a-3a57-4303-912d-50b87b7551ba" alt="">
</div>
<app-home-ubicacion></app-home-ubicacion>