<div class = "container">
    <h2 class="title"> Galería</h2>
    <div class = "gal">
        <div class = "prev">
            <button>
            </button>
        </div>
        <div class="card">
            <img src = "https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Fpr.jpg?alt=media&token=bf318ebf-5c03-4e19-9bc8-fea008101ac7" alt = "image not found">
            <div class ="content"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius consectetur vero quo ea nostrum, quam architecto nulla maiores distinctio nihil cum ad voluptatem expedita tenetur fugiat harum fugit veniam eaque.
            </div>
        </div>
        <div class="card">
            <img src = "https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Fpr2.jpg?alt=media&token=5fffa4e5-b478-42f3-ba18-2305edc9a4e1" alt = "image not found">
            <div class ="content"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius consectetur vero quo ea nostrum, quam architecto nulla maiores distinctio nihil cum ad voluptatem expedita tenetur fugiat harum fugit veniam eaque.
            </div>
        </div>
        <div class="card">
            <img src = "https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Fpr3.jpg?alt=media&token=c730e3c2-c90c-44f7-a3b5-ff6858aad5d4" alt = "image not found">
            <div class ="content"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius consectetur vero quo ea nostrum, quam architecto nulla maiores distinctio nihil cum ad voluptatem expedita tenetur fugiat harum fugit veniam eaque.
            </div>
        </div>
        <div class = "next">
            <button>
            </button>
        </div>
    </div>
</div>